{% extends 'base.html' %}

{% block content %}
<h2>{{object.title}}</h2>
<p>{{object.text}}</p>
<div>
    <p>{{object.date}}</p>
    <p><a href="{% url 'view_profile' post.author.pk %}">{{ post.author.username }}</a> . {{post.date_post}}</p>
    <p><a href="{% url 'update_post' post.pk %}">update</a></p>
    <p><a href="{% url 'delete_post' post.pk %}">delete</a></p>
</div>
{% if user.is_authenticated %}
<form action="{% url 'like_post' post.pk %}" method="post">
    {% csrf_token %}
    {% if liked %}
    
    <button type="submit">Unlike</button> - {{total_likes}}
    {% else %}

    <button type="submit">Like</button> - {{total_likes}}
    {% endif %}
</form>
    
<form action="{% url 'post_comment' post.pk %}" method="post">
    {% csrf_token %}
    <button type="submit">add comment</button>
</form>
{% endif %}
<br><hr>
<h2>comments</h2>
<ul>
{% for comment in post.comments.all%}
<li>
    <p>{{comment.body}}</p>
    <div>
        {{comment.author}} - {{comment.created_at}}
    </div>
    <form action="{% url 'comment_reply' post.pk comment.pk %}" method="post">
        {% csrf_token %}
        <button type="submit">add comment</button>
        <a href="{% url 'delete_comment' post.pk comment.pk%}">delete</a>
    </form> 
</li>
{% endfor %}
</ul>


{% endblock %}
