{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-sm border border-primary rounded p-5">
    <h4>{{object.title}}</h2>
    <p>{{object.text}}</p>
    {%if post.image%}
    <img class="img-fluid" style="width: 15vw;" src="{{post.image.url}}" alt="">
    {%endif%}
    <div>
        <p>{{object.date}}</p>
        <p><a href="{% url 'view_profile' post.author.pk %}">{{ post.author.username }}</a> . {{post.date_post}}</p>
        {%if user.id == post.author.id%}
        <a href="{% url 'update_post' post.pk %}">update</a>  <a href="{% url 'delete_post' post.pk %}">delete</a>
        {% endif %}
    </div>
    <div class="d-flex align-items-center mt-3">
        <p style="margin-right: 5;">tags: </p>
        <form class="d-flex align-items-center" action="{% url 'search_posts' %}" method="get">  
            {% csrf_token %}
             
            <input class="btn btn-primary rounded" name="q" type="submit" value={{post.tag}}>
        </form>
    </div>
    
</div>


{% if user.is_authenticated %}
<!-- likes and dislikes forms -->
<div class="d-flex gap-2">
    <!-- likes -->
    <form action="{% url 'like_post' post.pk %}" method="post">
        {% csrf_token %}
        {% if liked %}
        
        <button style="background-color: transparent; border: none;" type="submit"><img style="width: 1vw; " src="{% static 'icons/unlike.svg' %}" alt=""></button> - {{total_likes}}
        {% else %}
    
        <button style="background-color: transparent; border: none;" type="submit"> <img style="width: 1vw;" src="{% static 'icons/like.svg' %}" alt="">  </button>- {{total_likes}}
        {% endif %}
    </form>
    <!-- dislikes -->
    <form action="{% url 'dislike_post' post.pk %}" method="post">
        {% csrf_token %}
        {% if disliked %}
        
        <button style="background-color: transparent; border: none;" type="submit"><img style="width: 1vw; " src="{% static 'icons/undislike.svg' %}" alt=""></button> - {{total_dislikes}}
        {% else %}
    
        <button style="background-color: transparent; border: none;" type="submit"><img style="width: 1vw;" src="{% static 'icons/dislike.svg' %}" alt=""></button> - {{total_dislikes}}
        {% endif %}
    </form>
</div>

<!-- comment form -->
<form action="{% url 'post_comment' post.pk %}" method="post">
    {% csrf_token %}
    <button class="btn btn-dark" type="submit">add comment</button>
</form>
{% endif %}
<br><hr>
<h2>comments</h2>
<ul>
{% for comment in post.comments.all%}
<li>
    <p>{{comment.body}}</p>
    <div>
        <a href="{%url 'view_profile' comment.author.id%}">{{comment.author}}</a> - {{comment.created_at}}
    </div>
    <!-- reply form -->
    <form class="mt-3" action="{% url 'comment_reply' post.pk comment.pk %}" method="post">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">add comment</button>
        {% if user.id == post.author.id or user.id == comment.author.id%}

        <a href="{% url 'delete_comment' post.pk comment.pk%}">delete</a>
        {% endif %}

    </form> 
</li>
{% endfor %}
</ul>


{% endblock %}
