{% extends 'base.html' %}

{% block content %}
{%if user.is_authenticated%}

<p>hi</p> <a href="{% url 'my_profile' %}">{{ user.username }}</a>

<div>
    <form action="{% url 'logout' %}" method="post">
        {%csrf_token%}
        <input type="hidden">
        <input type="submit" value="logout">
    </form>
    <form action="{% url 'new_post'%}" method="post">
        {%csrf_token%}
        <input type="submit" value="new post">
    </form>
</div>

<ul>
    {%for post in posts%}
    <li>
        <h4><a href="{% url 'post_detail' post.pk %}">{{post.title}}</a></h4>
        {{post.text}}
        <div>
            <p><a href="{% url 'view_profile' username=post.author.username %}">{{ post.author.username }}</a> . {{post.date_post}}</p>
        </div>
    </li>
    <br>
    {% endfor %}
</ul>
{% else %}
<p>you are not logged in</p>
<a href="{%url 'login'%}">login</a>
{% endif %}




{% endblock %}